/* Set the global variables for everything. Change these to use your own fonts and colours. */
:root {
    /* Set sans-serif & mono fonts */
    --sans-font: -apple-system, BlinkMacSystemFont, "Avenir Next", Avenir,
      "Nimbus Sans L", Roboto, Noto, "Segoe UI", Arial, Helvetica,
      "Helvetica Neue", sans-serif;
    --mono-font: Consolas, Menlo, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  
    /* Body font size. By default, effectively 18.4px, based on 16px as 'root em' */
    --base-fontsize: 1.15rem;
  
    /* Major third scale progression - see https://type-scale.com/ */
    --header-scale: 1.25;
  
    /* Line height is set to the "Golden ratio" for optimal legibility */
    --line-height: 1.618;
  
    /* Default (light) theme */
    --bg: #fff;
    --accent-bg: #f5f7ff;
    --text: #4f504d;
    --text-light: #a52e2e;
    --border: #d8dae1;
    --accent: #e8b50d;
    --accent-light: #90caf9;
    --code: #d81b60;
    --preformatted: #444;
    --marked: #ebb237;
    --disabled: #efefef;
  }
  
  /* Dark theme */
  @media (prefers-color-scheme: dark) {
    :root {
      --bg: #212121;
      --accent-bg: #2b2b2b;
      --text: #dcdcdc;
      --text-light: #ababab;
      --border: #666;
      --accent: #ffb300;
      --accent-light: #ffecb3;
      --code: #f06292;
      --preformatted: #ccc;
      --disabled: #111;
    }
  
   
  }
  
  html {
    /* Set the font globally */
    font-family: var(--sans-font);
  }
  
  /* Make the body a nice central block */
  body {
    color: var(--text);
    background: var(--bg);
    font-size: var(--base-fontsize);
    line-height: var(--line-height);
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    flex: 1;
    margin: 0 auto;
    max-width: 45rem;
    padding: 0 0.5rem;
    overflow-x: hidden;
    word-break: break-word;
    overflow-wrap: break-word;
  }
  
  /* Make the header bg full width, but the content inline with body */

  
 
  
  /* Fix line height when title wraps */
  h1,
  h2,
  h3 {
    line-height: 1.1;
  }
  
  /* Format navigation */
  nav {
    font-size: 1rem;
    line-height: 2;
    padding: 1rem 0;
  }
  
  nav a {
    margin: 1rem 1rem 0 0;
    border: 1px solid var(--border);
    border-radius: 5px;
    color: var(--text) !important;
    display: inline-block;
    padding: 0.1rem 1rem;
    text-decoration: none;
    transition: 0.4s;
  }
  
  nav a:hover {
    color: var(--accent) !important;
    border-color: var(--accent);
  }
  
  nav a.current:hover {
    text-decoration: none;
  }
  

  /* Format headers */
  h1 {
    font-size: calc(
      var(--base-fontsize) * var(--header-scale) * var(--header-scale) *
        var(--header-scale) * var(--header-scale)
    );
    margin-top: calc(var(--line-height) * 1.5rem);
  }
  
  h2 {
    font-size: calc(
      var(--base-fontsize) * var(--header-scale) * var(--header-scale) *
        var(--header-scale)
    );
    margin-top: calc(var(--line-height) * 1.5rem);
  }
  
  h3 {
    font-size: calc(
      var(--base-fontsize) * var(--header-scale) * var(--header-scale)
    );
    margin-top: calc(var(--line-height) * 1.5rem);
  }
  
  /* Format links & buttons */

  
  a button,
  button,
  [role="button"],
  input[type="submit"],
  input[type="reset"],
  input[type="button"] {
    border: none;
    border-radius: 5px;
    background: var(--accent);
    font-size: 1rem;
    color: var(--bg);
    padding: 0.7rem 0.9rem;
    margin: 0.5rem 0;
    transition: 0.4s;
  }

  .input-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }
  
  .input-container label {
    display: block;
  }
  
  .eintrag-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .eintrag-container p {
    margin: 0;
    padding: 0 10px;
  }
  button:focus,
  button:enabled:hover,
  [role="button"]:focus,
  [role="button"]:not([aria-disabled="true"]):hover,
  input[type="submit"]:focus,
  input[type="submit"]:enabled:hover,
  input[type="reset"]:focus,
  input[type="reset"]:enabled:hover,
  input[type="button"]:focus,
  input[type="button"]:enabled:hover,
  input[type="checkbox"]:focus,
  input[type="checkbox"]:enabled:hover,
  input[type="radio"]:focus,
  input[type="radio"]:enabled:hover {
    filter: brightness(1.4);
    cursor: pointer;
  }
  
 
  
  .button-group {
    display: flex;
    align-items: center;
    margin: 0 0.5rem;
    width: calc(33.33% - 1rem);
    margin-bottom: 1rem;
  }
  

  
  
  
  /* Lists */
  ol,
  ul {
    list-style-type: none; /* Entfernt die Bulletpoints */
    padding-left: 3rem;
  }
  
